{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="{% static 'processing.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'processing_style.css' %}" />
</head>
<body>
    <div id="confirmModal" class="modal">
        <div class="modal-content">
          <h4>Confirm</h4>
          <p id="confirmText"></p>

          <p>Nombre: {{ nombre }}</p>
          <p>Apellido: {{ apellido }}</p>
        </div>
        <div class="modal-footer">
          <button id="noButton" class="modal-close waves-effect waves-red btn-flat">Reiniciar el proceso</button>
          <input type="text" id="phone_number" name="phone_number" placeholder="Enter Phone Number" style="display: none;">
          <button id="yesButton" class="modal-close waves-effect waves-green btn-flat" style="display: none;">Continuar</button>
        </div>
    </div>      
</body>
</html>
